@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
  font-family: "Orbitron", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.clock {
  color: #20c20e;
  font-size: 60px;
  letter-spacing: 7px;
}